@import "./../../../assets/styles/common.scss";

.window {
     @include window;
    .windowBar{
      text-align: right;
      padding: 0px 10px 10px 0;
       @include background-color-two(rgba(0,143,195,0.6),#007098);
          span{
            position: absolute;
            top: 5px;
            left: 10px;
            color: #fff;
          }
      .close{
        @include window-bar-but(#ff728d,#fe4568,#ff728d);
      }
      .small{
        @include window-bar-but(#e0dc69,#d3cd20,#e0dc69);
      }
      .large{
        @include window-bar-but(#85f28a,#5bd761,#85f28a);

      }
    }
    .content{
color: #fff;
background-color: rgb(255, 252, 254);
height: 96.5%;
overflow-y: auto;
margin: auto;
width: 100%;
position: absolute;

    }
    .photoShow{
      color: #fff;
      background-color:#354a48;
      padding: 2%;
      height: 90%;
      overflow-y: auto;
      margin: auto;
      width: 100%;
      position: absolute;
      padding-bottom: 50px;
.back{
  width: 220px;
  cursor: pointer;
  text-align: left;
  padding: 3%;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  &:hover{
    color: #ccc;
  }
}
    }
    .photoBigShow{
      position: absolute;
      width: 100%;
      min-height:96%;
      background-color: rgba(0,0,0,0.8);
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

    }
}
