<div class="window">
  <div class="windowBar">
      <span>生活写照</span>
    <div class="close" [routerLink]="['']">×</div>
    <div class="small">—</div>
    <div class="large">□</div>
  </div>
  <div class="content">

    <div class="classificationList">
      <classification></classification>
      <classification></classification>
      <classification></classification>
      <classification></classification>
      <classification></classification>
      <classification></classification>
      <classification></classification>
      <classification></classification>
      <classification></classification>
      <classification></classification>
      <classification></classification>
      <classification></classification>
      <classification></classification>
    </div>

  </div>
</div>
