.deskbook {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,162,224,1);
    color: #fff;
    background: -webkit-radial-gradient(50% 50%, closest-side, rgba(0,162,224,1), #007098, #014e6b);
    /* Safari 5.1 - 6.0 */
    background: -o-radial-gradient(50% 50%, closest-side,rgba(0,162,224,1), #007098, #014e6b);
    /* Opera 11.6 - 12.0 */
    background: -moz-radial-gradient(50% 50%, closest-side,rgba(0,162,224,1), #007098, #014e6b);
    /* Firefox 3.6 - 15 */
    background: radial-gradient(50% 50%, closest-side, rgba(0,162,224,1), #007098, #014e6b);
    /* 标准的语法（必须放在最后） */
    .menu {
        width: 90px;
        // max-height: 95px;
        margin: 20px;
        overflow: hidden;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        .img {
            margin: auto;
            width: 80%;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            overflow: hidden;
            img {
                width: 100%;
            }
        }
        .text {
            text-align: center;
            font-size: 16px;
            width: 100%;
            margin-top: 10px;
        }
    }
    /****************** file ****************/

.file {
  width:100%;
  height:98px;
  background:#f6f9bc;
  position:relative;
  // left:50%;
  // margin-left:-40px;
  // top:50%;
  // margin-top:-54px;
  border-radius:6px;
  box-shadow: 0 2px 0 0px rgba(0,0,0,0.25), inset 0 1px 0 0 rgba(255,255,255,0.2);
}

.file:before{
  content:"";
  width:25px;
  height:25px;
  background:#37353a;
  position:absolute;
  right:0;
  top:0;
}

.file .flip {
  position:absolute;
  right:0;
  width: 0;
	height: 0;
	border-bottom: 25px solid #dddbb7;
	border-right: 25px solid transparent;
}
.file .flip:after {
  content:"";
  width:0;
  height:0;
  border-top: 25px solid rgba(0,0,0,0.3);
	border-left: 25px solid transparent;
  position:absolute;
  top:25px;
}

.file .holes {
  width:8px;
  height:8px;
  background:#37353a;
  border-radius:50%;
  box-shadow: inset 0 2px 0 0px rgba(0,0,0,0.25), 0 1px 0 0 rgba(255,255,255,0.2);
  position:absolute;
  left:10px;
  top:50%;
  margin-top:-4px;
}

.file .holes:before {
  content:"";
  width:8px;
  height:8px;
  background:#37353a;
  border-radius:50%;
  box-shadow: inset 0 2px 0 0px rgba(0,0,0,0.25), 0 1px 0 0 rgba(255,255,255,0.2);
  position:absolute;
  top:-30px;
}

.file .holes:after {
  content:"";
  width:8px;
  height:8px;
  background:#37353a;
  border-radius:50%;
  box-shadow: inset 0 2px 0 0px rgba(0,0,0,0.25), 0 1px 0 0 rgba(255,255,255,0.2);
  position:absolute;
  top:30px;
}

.file .lines {
  width:34px;
  height:9px;
  border-top: 5px solid rgba(255,255,255,0.5);
  border-bottom: 5px solid rgba(255,255,255,0.5);
  position:absolute;
  left:28px;
  top:30px;
}

.file .lines:after {
  content:"";
  width:34px;
  height:9px;
  border-top: 5px solid rgba(255,255,255,0.5);
  border-bottom: 5px solid rgba(255,255,255,0.5);
  position:absolute;
  top:23px;
}

.file .lines:before{
  content:"";
  width:7px;
  height:9px;
  background:#c4c499;
  position:absolute;
  top:35px;
  z-index:2;
  right:0;
}
/****************** mail ****************/

.mail{
  width:100%;
  height:78px;
  background:#eeecdf;
  border-radius:6px;
  position:relative;
  box-shadow: 0 2px 0 0px rgba(0,0,0,0.25), inset 0 1px 0 0 rgba(255,255,255,0.2);
  overflow:hidden;
}

.mail:before {
  content:"";
  width: 0;
	height: 0;
  position:absolute;
  top:6px;
	border-left: 54px solid transparent;
	border-right: 54px solid transparent;
	border-top: 50px solid rgba(0,0,0,0.3);
}

.mail:after {
  content:"";
  width: 0;
	height: 0;
  position:absolute;
  top:6px;
	border-left: 54px solid transparent;
	border-right: 54px solid transparent;
	border-top: 39px solid #eeecdf;
}

.mail .shadows {
  width: 0;
	height: 0;
	border-left: 42px solid transparent;
	border-right: 42px solid transparent;
	border-bottom: 30px solid rgba(0,0,0,0.12);
  position:absolute;
  bottom:0;
  left:50%;
  margin-left:-42px;
}
.mail .shadows:after {
  content:"";
  position:absolute;
  left:-54px;
  top:-41px;
  width: 0;
	height: 0;
	border-top: 41px solid transparent;
	border-left: 54px solid rgba(0,0,0,0.06);
	border-bottom: 39px solid transparent;
}
.mail .shadows:before {
  content:"";
  position:absolute;
  right:-54px;
  top:-42px;
  width: 0;
	height: 0;
	border-top: 42px solid transparent;
	border-right: 54px solid rgba(0,0,0,0.2);
	border-bottom: 39px solid transparent;
}

    .window {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 1000;
        background-color: rgba(255,255,255,1);
        .windowBar{
          padding: 10px 0 10px 0;
          background-color: rgba(0,143,195,0.6);
          background: -moz-linear-gradient(top, rgba(0,143,195,0.6) 0%,  #007098 100%);
              background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,143,195,0.6)), color-stop(100%, #007098));
              background: -webkit-linear-gradient(top, rgba(0,143,195,0.6) 0%, #007098 100%);
              background: -o-linear-gradient(top, rgba(0,143,195,0.6) 0%, #007098 100%);
              background: -ms-linear-gradient(top, rgba(0,143,195,0.6) 0%, #007098 100%);
              background: linear-gradient(to bottom, rgba(0,143,195,0.6) 0%, #007098 100%);
          .close{
            background-color: #fe4568;
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff728d), color-stop(50%, #fe4568), color-stop(100%, #ff728d));
                background: -webkit-linear-gradient(top, #ff728d 0%, #fe4568 50%,#ff728d 100%);
                background: -o-linear-gradient(top, #ff728d 0%, #fe4568 50%,#ff728d 100%);
                background: -ms-linear-gradient(top, #ff728d 0%, #fe4568 50%,#ff728d 100%);
                background: linear-gradient(to bottom, #ff728d 0%, #fe4568 50%,#ff728d 100%);
            color: #fff;
            text-shadow: #ccc 0 1px 0;
            width: 22px;
            height: 22px;
            line-height: 22px;
            text-align: center;
            border-radius: 50%;
            margin-left: 10px;
            display: inline-block;
            cursor: pointer;
          }

          .small{
            width: 22px;
            height: 22px;
            background-color: #e0dc69;
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0dc69), color-stop(50%, #d3cd20), color-stop(100%, #e0dc69));
                background: -webkit-linear-gradient(top, #e0dc69 0%, #d3cd20 50%,#e0dc69 100%);
                background: -o-linear-gradient(top, #e0dc69 0%, #d3cd20 50%,#e0dc69 100%);
                background: -ms-linear-gradient(top, #e0dc69 0%, #d3cd20 50%,#e0dc69 100%);
                background: linear-gradient(to bottom, #e0dc69 0%, #d3cd20 50%,#e0dc69 100%);
                color: #fff;
                display: inline-block;
                text-shadow: #ccc 0 1px 0;
                line-height: 22px;
                text-align: center;
                border-radius: 50%;
                margin-left: 5px;
                cursor: pointer;
          }
          .large{
            width: 22px;
            height: 22px;
            background-color: #85f28a;
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#85f28a), color-stop(50%, #5bd761), color-stop(100%, #85f28a));
                background: -webkit-linear-gradient(top, #85f28a 0%, #5bd761 50%,#85f28a 100%);
                background: -o-linear-gradient(top, #85f28a 0%, #5bd761 50%,#85f28a 100%);
                background: -ms-linear-gradient(top, #85f28a 0%, #5bd761 50%,#85f28a 100%);
                background: linear-gradient(to bottom, #85f28a 0%, #5bd761 50%,#85f28a 100%);
                color: #fff;
                display: inline-block;
                text-shadow: #ccc 0 1px 0;
                line-height: 22px;
                text-align: center;
                border-radius: 50%;
                margin-left: 5px;
                cursor: pointer;
          }
        }
        .content{
color: #000;
        }

    }
}
