
<div class="deskbook">

  <div class="menu"  *ngFor="let item of data;let i = index"  (dblclick)="openGoLink(item)">
    <div class="file" *ngIf="i%2==0">
  		      <div class="flip"></div>
  		      <div class="holes"></div>
  		      <div class="lines"></div>
  		    </div>
          <div class="mail" *ngIf="i%2==1">
		      <div class="shadows"></div>
		    </div>
   <div class="text">{{item.name}}</div>
  </div>
  <div class="window" *ngIf="showWindow">
    <div class="windowBar">
      <div class="close" (click)="closeWindow()">×</div>
      <div class="small">—</div>
      <div class="large">□</div>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
