<div class="article">
    <header>
        <h2>此处为标题君哦</h2>
        <div class="dateBox">AlicePrincess<span>2016年5月13日</span>
        </div>
        <div class="back" (click)="vote(false)">O(∩_∩)O回去找爸爸</div>
    </header>
    <article>

    </article>
    <div class="wall">
        <span class="title">爪印墙：</span>
        <div class="comment style1">
            <div class="icon"></div>
            <div class="text">这是一条评论这是一条评论这是一条评论这是一条评论这是一条评这是一条评论这是一条评论这是一条评论这是一条评</div>
        </div>
        <div class="comment style2">
            <div class="icon"></div>
            <div class="text">这是一条评论这是一条评论这是一条评论这是一条评论这是一条评</div>
        </div>
        <div class="comment style3 lookMore">
            <div class="icon"></div>
            <div class="text">这是一条评论这是一条评论这是一条评论这是一条评论这是一条评论这是一条评论</div>
        </div>
        <div class="comment style0">
            <div class="icon"></div>
            <div class="text">这是一条评论这是一条评论这是一条评论这是一条评论这是一条评这是一条评论这是一条评论这是一条评论这是一条评</div>
        </div>
        <div class="comment style4">
            <div class="icon"></div>
            <div class="text">这是一条评论这是一条评论这是一条评论这是一条评论这是一条评</div>
        </div>
        <div class="writeBox" (click)="conmmentShow()" title="留下爪印">
        <div class="write" ></div>
      </div>
        <div class="eraser" title="吐槽一下" (click)="conmmentShow()"></div>
        <div class="commentBox" *ngIf="showComment">
          <h2>您的鼓励，我的动力</h2>
          <textarea></textarea>
          <div class="btnBar">
            <button (click)="commentOk()">确定</button>
            <button (click)="commentCancel()">取消</button>
          </div>

        </div>
    </div>
</div>
