<div class="article">
    <header>
        <h2>此处为标题君哦</h2>
        <div class="dateBox">AlicePrincess<span>2016年5月13日</span>
        </div>
        <div class="back" (click)="vote(false)">×</div>
    </header>
    <article>
        <p>
            G20为什么对中国这么重要？习近平这样说</p>
        <p>
            治国理政 七一讲话理论解读 习近平的“长征情” 文化自信 改革方法论</p>
        <p>
            李克强寄望 看国务院如何做“加减乘除”</p>
        <p>
            党员服务群众 增加居民收入 地区经济运行平稳 全球最牛“停电”</p>
        <p>
            恒大“突袭”万科成大股东 “宝万”之争新变数</p>
        <p>
            王石要哭晕？ 万科成肥肉 价值投资真的来了吗？</p>
        <p>
            外媒称菲律宾让渔民避开黄岩岛：中国就在那里</p>
        <p>
            江西官员变身“收款机器人” 曾一次受贿3000万</p>
        <p>
            北京市政府原副秘书长刘志涉嫌受贿千万受审</p>
        <p>
            不满肖像被使用 刘翔状告“滴滴”索赔126万元</p>
        <p>
            国台办回应“台方要求参加民航大会”</p>
        <p>
            2016网络文学市场规模或达90亿 当网红不如当写手</p>
        <p>
            日新防相被问南京大屠杀 称不认为存在“杀人比赛”</p>
        <p>
            巴西劫匪抢劫遇柔道高手 俄副领事将其击毙</p>
        <p>
            受贿金额过亿的落马官员 涉案款物将会怎样处理</p>
        <p>
            调好闹钟早起床 和30亿人同看史上最性感开幕式</p>
        <ol>
            <li>中国不文明游客黑名单疑已有19人 或被限制出境</li>
            <li>山东蓝翔技校学生要求退学费 老师:你先"脱裤子"</li>
            <li>起底空中巴士：涉嫌非法集资 借款担保系一人控制</li>
            <li>中国香港选手：里约水域无臭味 比香港的河还香</li>
            <li>网络直播数据造假成风：聊天室人数超13亿</li>
            <li>北爱尔兰8名中国人乘车旅游遭石头攻击 车玻璃被砸破</li>
            <li>男子误抢红包不肯退 女友认为其人品差分手</li>
            <li>杭州初二女生出国换3所学校仍被劝退 因被家长宠出一种病</li>
            <li>山东被篡改志愿考生：我只想上陕师大 没想追责</li>
            <li>8.5公里车程100元 “一口价”出租车横行到几时？</li>
            <li>女子婚后被丈夫骗走百万 诉民政局撤销婚姻被拒</li>
            <li>“夜游上海”黑导游宰客 “浦江游轮”变成2元轮渡</li>
            <li>大活人挂车前！男子奇葩挡车牌法“走红”(图)</li>
            <li>中国游客在越南被偷手机 贼“大方”承认仍追不回</li>
            <li>西安老太浇开水烫倒并捅死八旬老伴后割腕自杀</li>
            <li>上海1名男婴接种卡介苗后死亡 家属质疑院方失误</li>
            <li>"小龙虾月饼"成"网红" 黄牛价一盒炒到300多元</li>
            <li>河北秦皇岛“巴铁”测试后被“封藏” 当地称未立项</li>
            <li>怕孩子们游野泳出危险 浙江一村花300万造泳池</li>
            <li>谢娜爆料节目开场都是假唱 怕假唱会罚款退歌坛</li>
        </ol>
    </article>
    <div class="wall">
        <span class="title">爪印墙：</span>
        <div class="comment style1">
            <div class="icon"></div>
            <div class="text">这是一条评论这是一条评论这是一条评论这是一条评论这是一条评这是一条评论这是一条评论这是一条评论这是一条评</div>
        </div>
        <div class="comment style2">
            <div class="icon"></div>
            <div class="text">这是一条评论这是一条评论这是一条评论这是一条评论这是一条评</div>
        </div>
        <div class="comment style3 lookMore">
            <div class="icon"></div>
            <div class="text">这是一条评论这是一条评论这是一条评论这是一条评论这是一条评论这是一条评论</div>
        </div>
        <div class="comment style0">
            <div class="icon"></div>
            <div class="text">这是一条评论这是一条评论这是一条评论这是一条评论这是一条评这是一条评论这是一条评论这是一条评论这是一条评</div>
        </div>
        <div class="comment style4">
            <div class="icon"></div>
            <div class="text">这是一条评论这是一条评论这是一条评论这是一条评论这是一条评</div>
        </div>
        <div class="writeBox" title="留下爪印">
        <div class="write"></div>
      </div>
        <div class="eraser" title="吐槽一下"></div>
    </div>
</div>
