<div [ngClass]="{'window': !isFullScreen,'fullWindow':isFullScreen}">
  <div class="windowBar">
    <div class="close" [routerLink]="['']">×</div>
    <div class="small">—</div>
    <div class="large" (click)="fullScreen()">□</div>
  </div>
  <div class="content">
<!-- <router-outlet></router-outlet> -->
<div class="banner">
  <img src="./../../assets/img/loveBg2.jpg"/>
</div>
<div class="storyBox">
  <div class="story">
    <span class="title"> 故事の灵感</span>
    <div class="storyList">
      <ul>
        <li>
          <p>旅程（一首自己的原创歌曲），只为你一人倾城,作词源自于生活中的 点滴</p>
          <date>2016-6-6</date>
          <span>Jermine</span>
        </li>
        <li>
          <p>旅程（一首自己的原创歌曲），只为你一人倾城,作词源自于生活中的 点滴</p>
          <date>2016-6-6</date>
          <span>Jermine</span>
        </li>
        <li>
          <p>旅程（一首自己的原创歌曲），只为你一人倾城,作词源自于生活中的 点滴</p>
          <date>2016-6-6</date>
          <span>Jermine</span>
        </li>
        <li>
          <p>旅程（一首自己的原创歌曲），只为你一人倾城,作词源自于生活中的 点滴</p>
          <date>2016-6-6</date>
          <span>Jermine</span>
        </li>
        <li>
          <p>旅程（一首自己的原创歌曲），只为你一人倾城,作词源自于生活中的 点滴</p>
          <date>2016-6-6</date>
          <span>Jermine</span>
        </li>

        <li class="lookMore">
          <a>查看更多</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="time">
    <span class="title"> 时间の流逝</span>
    <div class="dateBox">
      <ul>
      <li><div class="desc">我们相恋了</div><div class="date">2015-5-1</div></li>
      <li><div class="desc">我们相恋了</div><div class="date">2015-5-1</div></li>
      <li><div class="desc">我们相恋了</div><div class="date">2015-5-1</div></li>
      <li><div class="desc">我们相恋了</div><div class="date">2015-5-1</div></li>
      <li><div class="desc">我们相恋了</div><div class="date">2015-5-1</div></li>
      <li><div class="desc">我们相恋了</div><div class="date">2015-5-1</div></li>
      <li><div class="desc">我们相恋了</div><div class="date">2015-5-1</div></li>
      <li><div class="desc">我们相恋了</div><div class="date">2015-5-1</div></li>
      <li><div class="desc">我们相恋了</div><div class="date">2015-5-1</div></li>
      <li><div class="desc">我们相恋了</div><div class="date">2015-5-1</div></li>
      <li><div class="desc">我们相恋了</div><div class="date">2015-5-1</div></li>
      <li><div class="desc">我们相恋了</div><div class="date">2015-5-1</div></li>
      </ul>
    </div>
  </div>

</div>

<div class="mapBox">
  <span class="title"> 爱の足迹</span>
  <div id="map"></div>
</div>
  </div>
</div>
