@import "./../../../assets/styles/common.scss";
.window {
    @include window;
    .windowBar {
        text-align: right;
        padding: 0 10px 10px 0;
        @include background-color-two(rgba(255, 162, 198, 0.6),#b65877);
        span {
            position: absolute;
            top: 5px;
            left: 10px;
            color: #fff;
        }
        .close {
            @include window-bar-but(#ff728d,#fe4568,#ff728d);
        }
        .small {
            @include window-bar-but(#e0dc69,#d3cd20,#e0dc69);
        }
        .large {
            @include window-bar-but(#85f28a,#5bd761,#85f28a);
        }
    }
    .content {
        height: 97%;
        overflow-y: auto;
        margin: auto;
        width: 100%;
        position: absolute;
        background-color: rgb(233, 233, 220);
        color: #000;
        .banner {
            width: 100%;
            height: 150px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            img {
                width: 100%;
            }
        }
        .title {
            @include background-color-two(rgba(190, 226, 115, 1),#9eb658);
            color: #fff;
            position: relative;
            bottom: 5px;
            text-indent: 1em;
            padding: 5px 10px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            // border-bottom: 2px solid rgba(255, 162, 198, 0.6);
        }
        .storyBox {
            margin: 20px auto auto;
            width: 90%;
            position: relative;
            height: 280px;
            // background-color: #000;
            .story,
            .time {
                display: inline-block;
                width: 48%;
            }
            .time {
                position: absolute;
                right: 0;
            }
            .dateBox,
            .storyList {
                border: 1px solid rgba(190, 226, 115, 1);
                // border-top:1px solid #9eb658;
                background-color: rgba(255,255,255,0.7);
                width: -webkit-calc(100%-2px);
                width: -moz-calc(100%-2px);
                width: calc(100%-2px);
                height: 270px;
            }
            .dateBox {
                overflow-y: auto;
                ul {
                    list-style-type: none;
                    padding: 0;
                    li {
                        float: left;
                        margin: 1.5%;
                        width: 30%;
                        height: 100px;
                        text-align: center;
                    }
                }
                .desc {
                    width: 100%;
                    height: 70px;
                    // line-height: 70px;
                    border: 1px solid #ccc;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                }
                .date {
                  width: 100%;
                  border: 1px solid #9eb658;
                    height: 30px;
                    line-height: 30px;
                    color: #fff;
                    font-weight: bold;
                    background-color: #9eb658;
                }
            }
            .storyList {
                ul {
                    list-style-type: none;
                    padding: 0;
                    width: 90%;
                    margin: auto;
                    padding-top: 15px;
                    font-size: 14px;
                    li {
                        cursor: pointer;
                        text-align: right;
                        border-bottom: 1px dashed #ccc;
                        color: #666;
                        padding: 3px 0;
                        p {
                            text-align: left;
                            margin: 5px;
                            width: 90%;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        &:hover {
                            color: #000;
                        }
                    }
                    .lookMore {
                        text-align: center;
                        width: 100%;
                        padding: 5px 0;
                        a {
                            color: rgb(21, 164, 205);
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .mapBox {
            margin: 30px auto auto;
            width: 90%;
            height: 200px;
            #map {
                border: 1px solid rgba(190, 226, 115, 1);
                width: -webkit-calc(100%-2px);
                width: -moz-calc(100%-2px);
                width: calc(100%-2px);
                height: 100%;
                .anchorBL {
                    display: none;
                }
            }
        }
    }
}
