<div [ngClass]="{'window': !isFullScreen,'fullWindow':isFullScreen}">
  <div class="windowBar">
    <span>回忆录</span>
    <div class="close" [routerLink]="['']">×</div>
    <div class="small">—</div>
    <div class="large" (click)="fullScreen()">□</div>
  </div>
  <div class="content">

<div class="sayList">
  <logList></logList>
  <logList></logList>
  <logList></logList>
  <logList></logList>
  <logList></logList>
  <logList></logList>
  <logList></logList>
  <logList></logList>
</div>
  </div>
</div>
