@import "./../../../assets/styles/common.scss";

.window {
     @include window;
    .windowBar{
      text-align: right;
      padding: 0px 10px 10px 0;
       @include background-color-two(rgba(0,143,195,0.6),#007098);
          span{
            position: absolute;
            top: 5px;
            left: 10px;
            color: #fff;
          }
      .close{
        @include window-bar-but(#ff728d,#fe4568,#ff728d);
      }
      .small{
        @include window-bar-but(#e0dc69,#d3cd20,#e0dc69);
      }
      .large{
        @include window-bar-but(#85f28a,#5bd761,#85f28a);

      }
    }
    .content{
      height: 96%;
      overflow: auto;
      margin: auto;
      width: 100%;
      position: absolute;
      color: #000;
      background-color: #eee;

.sayList{
  width: 4000px;
  display: block;
  // width: 100%;
  height: 90%;
  position: absolute;
  bottom:5%;
}
    }

}
