<div class="window">
  <div class="windowBar">
    <div class="close" [routerLink]="['']">×</div>
    <div class="small">—</div>
    <div class="large">□</div>
  </div>
  <div class="content">
<div class="bookcase">
<div class="title">开发类</div>
<div class="layer">
<div class="bookBox"></div>
</div>
  <div class="bottom"></div>
  <div class="layer">
  <div class="bookBox"></div>
  </div>
    <div class="bottom"></div>
    <div class="layer">
    <div class="bookBox"></div>
    </div>
      <div class="bottom"></div>
</div>
<div class="bookcase">
<div class="title">音乐类</div>
<div class="layer">
<div class="bookBox"></div>
</div>
  <div class="bottom"></div>

</div>
<div class="bookcase">
<div class="title">视频类</div>
<div class="layer">
<div class="bookBox"></div>
</div>
  <div class="bottom"></div>
  <div class="layer">
  <div class="bookBox"></div>
  </div>
    <div class="bottom"></div>

</div>
<div class="bookcase">
<div class="title">诗词类</div>
<div class="layer">
<div class="bookBox"></div>
</div>
  <div class="bottom"></div>
  <div class="layer">
  <div class="bookBox"></div>
  </div>
    <div class="bottom"></div>

</div>
