@import "./../../../assets/styles/common.scss";

.window {
    @include window;
    .windowBar {
        text-align: right;
        padding: 0 10px 10px 0;
        @include background-color-two(rgba(0,143,195,0.6),#007098);
        span {
            position: absolute;
            top: 5px;
            left: 10px;
            color: #fff;
        }
        .close {
            @include window-bar-but(#ff728d,#fe4568,#ff728d);
        }
        .small {
            @include window-bar-but(#e0dc69,#d3cd20,#e0dc69);
        }
        .large {
            @include window-bar-but(#85f28a,#5bd761,#85f28a);
        }
    }
    .content {
        background-color: #c9984d;
        height: 97%;
        overflow-y: auto;
        margin: auto;
        width: 100%;
        position: absolute;

        .bookcase {
            box-shadow: 10px 10px 20px rgba(0,0,0,0.7);
            background: #4f2605;
            width: 90%;
            margin: auto;
            margin-bottom: 100px;
            margin-top: 30px;
            border-left: 15px solid #e8b970;
            border-right: 15px solid #e8b970;
            height: auto;
            .title {
                background-image: url("http://www.witdor.com/aliceBlog/dist/assets/img/top.png");
                background-size: 100% 100%;
                height: 44px;
                line-height: 44px;
                color: #fff;
                font-size: 20px;
                font-weight: bold;
                text-align: center;
            }
            .layer {
                box-shadow: inset 0 60px 60px rgba(0,0,0,1);
                -webkit-box-shadow: inset 0 60px 60px rgba(0,0,0,1);
                -moz-box-shadow: inset 0 60px 60px rgba(0,0,0,1);
                width: 100%;
                margin:-3%;
                margin: auto;
                height: auto;


                .bookBox{
                  box-shadow: inset 0 60px 60px rgba(0,0,0,0.6);
                  -webkit-box-shadow: inset 0 60px 60px rgba(0,0,0,0.6);
                  -moz-box-shadow: inset 0 60px 60px rgba(0,0,0,0.6);
                  margin: auto;
                  width: 95.5%;
                  height: 150px;
                  background-image: url("http://www.witdor.com/aliceBlog/dist/assets/img/back.png");
                  background-size: 100% auto;
                  background-repeat: repeat-y;
                  .book{
                    border-top-right-radius: 3px;
                    float: left;
                    margin-left: 30px;
                      width: 120px;
                      position: relative;
                      top: 8px;
                      border-right:5px solid #ccc;
                      box-shadow: 0 5px 5px rgba(255,255,255,0.6);
                      -webkit-box-shadow: 0 5px 5px rgba(255,255,255,0.6);
                      -moz-box-shadow: 0 5px 5px rgba(255,255,255,0.6);

                    .imgBox{
                    width: 100%;
                      height: 100px;
                      overflow: hidden;
                      border-bottom:2px solid #000;
                      i{
                      position: absolute;
                      width: 100%;
                      height: 100px;
                      line-height: 100px;
                      text-align: center;
                      color: #fff;
                      font-size: 50px;
                      background-color: rgba(0,0,0,0.8);
                      left:0;
                      top:0;
                      cursor: pointer;
                      }
                    }
                    .desc{
                      width: 100%;
                      background-color: #fff;
                      .name{
                        width: 100%;
                        padding-top: 2px;
                        text-align:center;
                        font-size: 14px;
                        font-weight: bold
                      }
                      date{
                        font-size: 8px;
                        color: #aaa;
                        padding-left: 8px;
                      }
                      .user{
                        font-size: 10px;
                        color: #aaa;
                        padding-left: 8px;
                      }
                    }

                  }

                }
            }
            .bottom{
              width: 100%;
              height: 20px;
              background-image: url("http://www.witdor.com/aliceBlog/dist/assets/img/layer.png");
              background-size: 100% 100%;
              background-repeat: repeat-x;
            }
        }
.music{
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
}
.audioLayer{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}
    }
}
audio{
  display: none;
}
