.deskbook {
    width: 100%;
    height: 100%;
    min-width: 1000px;
    overflow-x: auto;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,162,224,1);
    color: #fff;
    background: -webkit-radial-gradient(50% 50%, closest-side, rgba(0,162,224,1), #007098, #014e6b);
    /* Safari 5.1 - 6.0 */
    background: -o-radial-gradient(50% 50%, closest-side,rgba(0,162,224,1), #007098, #014e6b);
    /* Opera 11.6 - 12.0 */
    background: -moz-radial-gradient(50% 50%, closest-side,rgba(0,162,224,1), #007098, #014e6b);
    /* Firefox 3.6 - 15 */
    background: radial-gradient(50% 50%, closest-side, rgba(0,162,224,1), #007098, #014e6b);
    /* 标准的语法（必须放在最后） */
    .tip {
        position: absolute;
        bottom: 40px;
        right: 20px;
    }
    .copyRight{
      position: absolute;
      bottom: 5px;
      width: 100%;
      left: 0;
      text-align: center;
      font-size: 10px;
      color: #fff;
    }
    .menu {
        width: 90px;
        max-height: 95px;
        margin: 20px;
        overflow: hidden;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        position: relative;
        z-index: 2;
        .img {
            margin: auto;
            width: 80%;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            overflow: hidden;
            img {
                width: 100%;
            }
        }
        .text {
            text-align: center;
            font-size: 16px;
            width: 100%;
            margin-top: 10px;
        }
    }
}
