@import "./../../../assets/styles/common.scss";
.window {
    @include window;
    .windowBar {
        text-align: right;
        padding: 0 10px 10px 0;
        @include background-color-two(rgba(0,143,195,0.6),#007098);
        span {
            position: absolute;
            top: 5px;
            left: 10px;
            color: #fff;
        }
        .close {
            @include window-bar-but(#ff728d,#fe4568,#ff728d);
        }
        .small {
            @include window-bar-but(#e0dc69,#d3cd20,#e0dc69);
        }
        .large {
            @include window-bar-but(#85f28a,#5bd761,#85f28a);
        }
    }
    .content {
        background-color: #222;
        height: 97%;
        overflow-y: auto;
        margin: auto;
        width: 100%;
        position: absolute;
        overflow-x: hidden;
        h1{
          width: 100%;
          color:#ff;
          position: absolute;
          left:0;
          bottom:10px;
          z-index: 3;
          text-align: center;
          color:#ccc;
          border-top:1px solid #ccc;
          margin: 0;
          padding: 15px 0 15px 0;
        }
        #myID {
            border: none;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            canvas {
                width: 100%;
                height: 100%;
            }
        }
        .messageText{
          position: absolute;
          left:0;
          top: 70px;
          width: 96%;
          height: 80%;
          color: #fff;
          background-color: #222;
          outline: none;
          padding: 2%;
          resize: none;
          border:none;
          font-size: 16px;
        }
        .button {
            cursor: pointer;
            text-align: center;
            margin-left: 20px;
            position: absolute;
            top: 20px;
            width: 150px;
            height: 30px;
            line-height: 30px;
            -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
            -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
            text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
            border-radius: 5px;
            color: #ccc;
        }
        .button:hover {
            background-color: #111;
            color: #fff;
        }
        .button:active {
            -webkit-transform: translateY(1px);
            -moz-transform: translateY(1px);
        }
    }
}
@-webkit-keyframes greenPulse {
		  from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
		  50% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
		  to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
		}

		@-webkit-keyframes bluePulse {
		  from { background-color: #007d9a; -webkit-box-shadow: 0 0 9px #333; }
		  50% { background-color: #2daebf; -webkit-box-shadow: 0 0 18px #2daebf; }
		  to { background-color: #007d9a; -webkit-box-shadow: 0 0 9px #333; }
		}

		@-webkit-keyframes redPulse {
		  from { background-color: #bc330d; -webkit-box-shadow: 0 0 9px #333; }
		  50% { background-color: #e33100; -webkit-box-shadow: 0 0 18px #e33100; }
		  to { background-color: #bc330d; -webkit-box-shadow: 0 0 9px #333; }
		}

    .green.button { -webkit-animation-name: greenPulse; -webkit-animation-duration: 3s;right:50px; }
    		.blue.button { -webkit-animation-name: bluePulse; -webkit-animation-duration: 4s; }
    		.red.button { -webkit-animation-name: redPulse; -webkit-animation-duration: 1s; left:40%;}

a.button {
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}
.textBoxHidden{
opacity: 0;
z-index: -1;
}
