<div class="logList">
  <div class="userPhoto">
    <img [ngStyle]="imgDeal('http://www.witdor.com/aliceBlog/img/menu1.jpg')" src="http://www.witdor.com/aliceBlog/img/menu1.jpg"/>
  </div>
  <div class="userName">
    Alice
  </div>
  <div class="date">2016.6.6</div>

  <!-- <div class="smiley angry">
  	<div class="eyes">
  		<div class="eye"></div>
  		<div class="eye"></div>
  	</div>
  	<div class="mouth"></div>
  </div>
  <div class="smiley">
  	<div class="eyes">
  		<div class="eye"></div>
  		<div class="eye"></div>
  	</div>
  	<div class="mouth"></div>
  </div> -->


  <div class="contentText">正文内容，说说内容，考虑一下要控制在多少个字啊正文内容，说说内容，考虑一下要控制在多少个字啊
  正文内容，说说内容，考虑一下要控制在多少个字啊正文内容，说说内容，考虑一下要控制在多少个字啊正文内容，说说内容，考虑一下要控制在多少个字啊
正文内容，说说内容，考虑一下要控制在多少个字啊正文内容，说说内容，考虑一下要控制在多少个字啊正文内容，说说内容，考虑一下要控制在多少个字啊
正文内容，说说内容，考虑一下要控制在多少个字啊正文内容，说说内容，考虑一下要控制在多少个字啊正文内容，说说内容，考虑一下要控制在多少个字啊
正文内容，说说内容，考虑一下要控制在多少个字啊正文内容，说说内容，考虑一下要控制在多少个字啊正文内容，说说内容，考虑一下要控制在多少个字啊
正文内容，说说内容，考虑一下要控制在多少个字啊正文内容，说说内容，考虑一下要控制在多少个字啊正文内容，说说内容，考虑一下要控制在多少个字啊
正文内容，说说内容，考虑一下要控制在多少个字啊正文内容，说说内容，考虑一下要控制在多少个字啊正文内容，说说内容，考虑一下要控制在多少个字啊
正文内容，说说内容，考虑一下要控制在多少个字啊正文内容，说说内容，考虑一下要控制在多少个字啊正文内容，说说内容，考虑一下要控制在多少个字啊
正文内容，说说内容，考虑一下要控制在多少个字啊正文内容，说说内容，考虑一下要控制在多少个字啊正文内容，说说内容，考虑一下要控制在多少个字啊
正文内容，说说内容，考虑一下要控制在多少个字啊正文内容，说说内容，考虑一下要控制在多少个字啊正文内容，说说内容，考虑一下要控制在多少个字啊
正文内容，说说内容，考虑一下要控制在多少个字啊正文内容，说说内容，考虑一下要控制在多少个字啊
正文内容，说说内容，考虑一下要控制在多少个字啊正文内容，说说内容，考虑一下要控制在多少个字啊正文内容，说说内容，考虑一下要控制在多少个字啊
正文内容，说说内容，考虑一下要控制在多少个字啊正文内容，说说内容，考虑一下要控制在多少个字啊
正文内容，说说内容，考虑一下要控制在多少个字啊正文内容，说说内容，考虑一下要控制在多少个字啊正文内容，说说内容，考虑一下要控制在多少个字啊
</div>
<div class="photoWall">
  <div class="showPhoto">
    <img [ngStyle]="imgDeal('http://www.witdor.com/aliceBlog/img/menu1.jpg')" src="http://www.witdor.com/aliceBlog/img/menu1.jpg"/>
  </div>
  <div class="showPhoto">
    <img [ngStyle]="imgDeal('http://www.witdor.com/aliceBlog/img/menu1.jpg')" src="http://www.witdor.com/aliceBlog/img/menu1.jpg"/>
  </div>
  <div class="showPhoto">
    <img [ngStyle]="imgDeal('http://www.witdor.com/aliceBlog/img/menu1.jpg')" src="http://www.witdor.com/aliceBlog/img/menu1.jpg"/>
  </div>
  <div class="showPhoto">
    <img [ngStyle]="imgDeal('http://www.witdor.com/aliceBlog/img/menu1.jpg')" src="http://www.witdor.com/aliceBlog/img/menu1.jpg"/>
  </div>
  <div class="showPhoto">
    <img [ngStyle]="imgDeal('http://www.witdor.com/aliceBlog/img/menu1.jpg')" src="http://www.witdor.com/aliceBlog/img/menu1.jpg"/>
  </div>
  <div class="showPhoto">
    <img [ngStyle]="imgDeal('http://www.witdor.com/aliceBlog/img/menu1.jpg')" src="http://www.witdor.com/aliceBlog/img/menu1.jpg"/>
  </div>
  <div class="showPhoto">
    <img [ngStyle]="imgDeal('http://www.witdor.com/aliceBlog/img/menu1.jpg')" src="http://www.witdor.com/aliceBlog/img/menu1.jpg"/>
  </div>
  <div class="showPhoto">
    <img [ngStyle]="imgDeal('http://www.witdor.com/aliceBlog/img/menu1.jpg')" src="http://www.witdor.com/aliceBlog/img/menu1.jpg"/>
  </div>
  <div class="showPhoto">
    <img [ngStyle]="imgDeal('http://www.witdor.com/aliceBlog/img/menu1.jpg')" src="http://www.witdor.com/aliceBlog/img/menu1.jpg"/>
  </div>
</div>

</div>
