@mixin background-color-two($first,$second) {
    background-color: $first;
    background: -moz-linear-gradient(top, $first 0%, $second 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$first), color-stop(100%, $second));
    background: -webkit-linear-gradient(top, $first 0%, $second 100%);
    background: -o-linear-gradient(top, $first 0%, $second 100%);
    background: -ms-linear-gradient(top, $first 0%, $second 100%);
    background: linear-gradient(to bottom, $first 0%, $second 100%);
}
@mixin background-color-three($first,$second,$third) {
    background-color: $first;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$first), color-stop(50%, $second), color-stop(100%, $third));
    background: -webkit-linear-gradient(top, $first 0%, $second 50%,$third 100%);
    background: -o-linear-gradient(top, $first 0%, $second 50%,$third 100%);
    background: -ms-linear-gradient(top, $first 0%, $second 50%,$third 100%);
    background: linear-gradient(to bottom, $first 0%, $second 50%,$third 100%);
    &:hover {
        background: $first;
    }
}
@mixin background-color-three-nocur($first,$second,$third) {
    background-color: $first;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$first), color-stop(50%, $second), color-stop(100%, $third));
    background: -webkit-linear-gradient(top, $first 0%, $second 50%,$third 100%);
    background: -o-linear-gradient(top, $first 0%, $second 50%,$third 100%);
    background: -ms-linear-gradient(top, $first 0%, $second 50%,$third 100%);
    background: linear-gradient(to bottom, $first 0%, $second 50%,$third 100%);

}
@mixin transform($first){
  transform: rotate($first);
  -ms-transform: rotate($first);		/* IE 9 */
  -webkit-transform: rotate($first);	/* Safari and Chrome */
  -o-transform: rotate($first);		/* Opera */
  -moz-transform: rotate($first);
}

@mixin background-color-round($first,$second,$third){
  background-color: $first;
color: #fff;
background: -webkit-radial-gradient(50% 50%, closest-side, $first, $second,$third);
/* Safari 5.1 - 6.0 */
background: -o-radial-gradient(50% 50%, closest-side,$first, $second, $third);
/* Opera 11.6 - 12.0 */
background: -moz-radial-gradient(50% 50%, closest-side,$first, $second, $third);
/* Firefox 3.6 - 15 */
background: radial-gradient(50% 50%, closest-side, $first, $second, $third);
}
@mixin window-bar-but($first,$second,$third) {
  @include background-color-three($first,$second,$third);
    width: 30px;
    height: 18px;
    color: #fff;
    display: inline-block;
    text-shadow: #ccc 0 1px 0;
    line-height: 18px;
    text-align: center;
    border-radius: 10%;
    margin-left: 5px;
    cursor: pointer;
    font-size: 14px;
}
@mixin window{
  position: absolute;
  left: 0;
  top: 0;
  width: 80%;
  border-radius: 10px;
  min-width: 800px;
  height: 80%;
  left: 10%;
  top: 10%;
  overflow: hidden;
  z-index: 1000;
  background-color: rgba(255,255,255,1);
}

@mixin fullWindow{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-width: 800px;
  height: 100%;
  overflow: hidden;
  z-index: 1000;
  background-color: rgba(255,255,255,1);
}


.fullWindow {
  @include fullWindow;
  .windowBar{
    text-align: right;
    padding: 0px 10px 10px 0;
    @include background-color-two(rgba(0,143,195,0.6),#007098);
    span{
      position: absolute;
      top: 5px;
      left: 10px;
      color: #fff;
    }
    .close{
      @include window-bar-but(#ff728d,#fe4568,#ff728d);
    }
    .small{
      @include window-bar-but(#e0dc69,#d3cd20,#e0dc69);
    }
    .large{
      @include window-bar-but(#85f28a,#5bd761,#85f28a);

    }
  }
  .content{
    color: #000;
  }

}