<div id="technology" [ngClass]="{'window': !isFullScreen,'fullWindow':isFullScreen}">
    <div class="windowBar" >
        <span>技术文档</span>
        <div class="close" (click)="vote('technology')">×</div>
        <div class="small">—</div>
        <div class="large" (click)="fullScreen()">□</div>
    </div>
    <div class="content">
        <div class="header">
            <div class="planet_wraper planet_shadow">
                <div class="planet">
                    <div class="crater"></div>
                    <div class="crater"></div>
                    <div class="crater"></div>
                    <div class="crater"></div>
                    <div class="crater"></div>
                </div>
            </div>
            <input type="text"/>
            <span class="search">search</span>
            <div class="hotSearch">
                <span>热门搜索：</span>
                <span *ngFor="let item of hotTag;let i = index" >{{item}}</span>

            </div>
        </div>
      <div class="cardBox">
        <card *ngFor="let item of data;let i = index" [cardData]="item" (click)="lookArticle()">

        </card>

      </div>
    </div>
    <div class="showMore"  [ngClass]="{showArticle: showArticle}">
      <articleText (onVoted)="onVoted($event)"></articleText>
    </div>

</div>
