<div class="window">
    <div class="windowBar">
        <span>技术文档</span>
        <div class="close" [routerLink]="['']">×</div>
        <div class="small">—</div>
        <div class="large">□</div>
    </div>
    <div class="content">
        <div class="header">
            <div class="planet_wraper planet_shadow">
                <div class="planet">
                    <div class="crater"></div>
                    <div class="crater"></div>
                    <div class="crater"></div>
                    <div class="crater"></div>
                    <div class="crater"></div>
                </div>
            </div>
            <input type="text"/>
            <span class="search">search</span>
            <div class="hotSearch">
                <span>热门搜索：</span>
                <span>Html</span>
                <span>css</span>
                <span>angular</span>
                <span>angular2</span>
                <span>typescript</span>
                <span>webpack</span>
                <span>ionic</span>
                <span>react</span>
            </div>
        </div>
      <div class="cardBox">
        <card (click)="lookArticle()"></card>
        <card (click)="lookArticle()"></card>
        <card (click)="lookArticle()"></card>
        <card (click)="lookArticle()"></card>
        <card (click)="lookArticle()"></card>
        <card (click)="lookArticle()"></card>
        <card (click)="lookArticle()"></card>
        <card (click)="lookArticle()"></card>
        <card (click)="lookArticle()"></card>
        <card (click)="lookArticle()"></card>
        <card (click)="lookArticle()"></card>
        <card (click)="lookArticle()"></card>
        <card (click)="lookArticle()"></card>
        <card (click)="lookArticle()"></card>
        <card (click)="lookArticle()"></card>
        <card (click)="lookArticle()"></card>
        <card (click)="lookArticle()"></card>
        <card (click)="lookArticle()"></card>
        <card (click)="lookArticle()"></card>
        <card (click)="lookArticle()"></card>
        <card (click)="lookArticle()"></card>
        <card (click)="lookArticle()"></card>
        <card (click)="lookArticle()"></card>
        <card (click)="lookArticle()"></card>
        <card (click)="lookArticle()"></card>
        <card (click)="lookArticle()"></card>
        <card (click)="lookArticle()"></card>
        <card (click)="lookArticle()"></card>
        <card (click)="lookArticle()"></card>
        <card (click)="lookArticle()"></card>
        <card (click)="lookArticle()"></card>
        <card (click)="lookArticle()"></card>
        <card (click)="lookArticle()"></card>
        <card (click)="lookArticle()"></card>
        <card (click)="lookArticle()"></card>
      </div>
    </div>
    <div class="showMore"  [ngClass]="{showArticle: showArticle}">
      <articleText (onVoted)="onVoted($event)"></articleText>
    </div>

</div>
